// Parameters
$min-mobile: 488px;
$min-tablet: 672px;
$min-desktop: 1024px;

$bg-color-1: #222 !default;
$bg-color-2: #333 !default;
$bg-color-3: #444 !default;
$bg-color-4: #555 !default;
$bg-color-5: #666 !default;
$bg-color-footer-1: #1889ac !default;
$bg-color-footer-2: #4ba8c4 !default;
$font-color: #ddd !default;
$link-color: #777 !default;
$active-link-color: #ddd !default;

$font: 'Arial', monospace;
$code-font: 'Consolas', 'Comic Sans MS', monospace;

$bold: 500;
$extra-bold: 700;
