$min-mobile: "min-width: 488px";
$min-tablet: "min-width: 672px";
$min-desktop: "min-width: 1024px";

$dt-background-1: #333;
$dt-background-2: #333;
$dt-background-3: #333;
$dt-background-4: #333;
$dt-background-5: #333;
$dt-font-1: #ddd;
$dt-font-2: #ddd;
$dt-font-3: #ddd;
$dt-font-4: #ddd;
$dt-font-5: #ddd;

$lt-background-1: #ddd;
$lt-background-2: #ddd;
$lt-background-3: #ddd;
$lt-background-4: #ddd;
$lt-background-5: #ddd;
$lt-font-1: #333;
$lt-font-2: #333;
$lt-font-3: #333;
$lt-font-4: #333;
$lt-font-5: #333;

$font: 'Arial', monospace;
$code-font: 'Consolas', 'Comic Sans MS', monospace;

$bold: 500;
$extra-bold: 700;
